@model IEnumerable<ASPBookProject.Models.Medicament>


@{
    ViewData["Title"] = "Liste des Médicaments";
}

<h1 class="text-center">Liste des Médicaments</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nom du Medicament</th>
            <th>Contre-Indication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var medicament in Model)
        {
            <tr>
                <td>@medicament.Libelle_med</td>
                <td>@medicament.Contr_indication</td>
                <td>
                    <a asp-action="ShowDetails" asp-route-id="@medicament.MedicamentId" class="btn btn-info">Détails</a>
                    <a asp-action="Edit" asp-route-id="@medicament.MedicamentId" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br>
<a asp-action="Index" asp-controller="Dashboard" class="btn btn-secondary">Retour</a>
<a asp-action="Add" class="btn btn-primary">Ajouter un Médicament</a>
