@model Allergie

<h1 class="text-center ">Éditer Allergie</h1>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AllergieId" />
    <div class="form-group">
        <label asp-for="Libelle_al" class="control-label">Nom de l'Allergie</label>
        <input asp-for="Libelle_al" class="form-control" />
        <span asp-validation-for="Libelle_al" class="text-danger"></span>
    </div>
</form>
<br>
<a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
<input type="submit" class="btn btn-primary" value="Enregistrer" />
<br>

